/*
 ######   #######  ##     ## ##     ##  #######  ##    ## 
##    ## ##     ## ###   ### ###   ### ##     ## ###   ## 
##       ##     ## #### #### #### #### ##     ## ####  ## 
##       ##     ## ## ### ## ## ### ## ##     ## ## ## ## 
##       ##     ## ##     ## ##     ## ##     ## ##  #### 
##    ## ##     ## ##     ## ##     ## ##     ## ##   ### 
 ######   #######  ##     ## ##     ##  #######  ##    ## 
*/

// 所有白色的大卡片(.card)的圆角效果
.card.content-card {
    border-radius: 0.6rem;
    margin-top: 3rem;
    max-width: 900px;
}

p {
    word-break: break-word;
}

/* 代码框 */
pre.line-numbers {
    border-radius: 5px;
}

code {
    color: #ff5722;
}

*:not(pre) > code {
    background-color: #1b1f230d;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0px 4px;
}

// 正文内超链接
// 评论正文内超链接
a.bubble-link,
.ac-comment-content a {
    color: #589bff;
    padding: 2px 2px;
    margin: 0px 2px;

    transition: background-color 0.2s;

    &:hover {
        text-decoration: underline;
        background-color: #1b1f230d;
        border-radius: 4px;
    }
}

// 表格
.content {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 1rem;
        overflow: auto;
        width: 100%;
    }

    tr {
        border-top: 1px solid #ccc;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 6px 13px;
    }

    tr:nth-child(2n) {
        background-color: #f8f8f8;
    }

    tbody {
        word-break: break-word;
    }
}

// 评论区-"作者"小标签
// Hexo不适用，是适用于Typecho
// #comments .badge-primary {
//     color: #4bb18e;
//     background-color: #e4e2e2;
// }

/* 文章标签 */
.list-tag .badge-pill {
    font-family: "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
    border-radius: 8px;
    padding: 0.5em;
    margin: 0px 0px 0px 4px;

    /* 文章标签-分类 */
    .badge-info {
        background-color: #c7f7ff;
    }

    /* 文章标签-标签 */
    .badge-success {
        background-color: #aefddb;
    }

    /* 文章标签-作者 */
    // 仅适用于Typecho
    // .badge-warning {
    //     background-color: #ffded7;
    // }
}

/* 回到顶部按钮 */
.scrollup-btn {
    background: #ffffffb0;
    box-shadow: 2px 4px 7px #0000006b;
    border-width: 0px;
    color: #3c3c3c;
    transition-timing-function: ease-out;

    i {
        text-shadow: 2px 2px 2px #9a9a9af7;
    }

    &:hover, &:focus {
        box-shadow: 2px 4px 7px #1b1b1b;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(20px);
    }
}

/* 目录侧栏 */
.bg-secondary.toc-container {
    background: #e6e6e6 !important;
    /* border: 1px solid #505050 !important; */
}

/* B站视频 */
.bilibili-wrapper {
    position: relative;
    height: 0;
    width: 90%;
    padding-bottom: calc(50.5% + 60px);
    margin: 0 auto;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.3rem;
    overflow: hidden;
    
    iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
/* 在预览框里时 */
.content-article-preview .bilibili-wrapper {
    width: 50%;
    padding-bottom: calc(28.125%);

    @media (max-width: 768px) {
        width: 80%;
        padding-bottom: calc(45%);
    }
}

/* 搜索栏边短 */
// 仅适用于Typecho
// form#search {
//     width: 140px;
// }
// /* 搜索栏边窄 */
// form#search .input-group-prepend,
// form#search input {
//     height: 2rem;
// }

/* 顶部导航栏里的按钮 */
.nav-item .nav-link {
    font-size: 1rem;
    text-shadow: 1px 1px 2px #0000002b;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 1rem;

    &:hover {
        background-color: #00000040;
    }
}

/* 全局背景 */
.random-bg.shape {
    position: fixed;
}
/* 背景遮罩 */
.bg-secondary {
    background-color: #00000099 !important;
    box-shadow: 1px 1px 60px 80px #00000099;
}
/* 页脚也要覆盖 */
footer.footer {
    background-color: #000000c2 !important;
}

/* 页面标题和描述 */
.section-hero {
    height: 100vh;
    min-height: 500px;
    
    /* 页内标题 */
    h1.text-white {
        font-size: 3rem;
        text-shadow: 2px 3px 2px #000;
    }
}

// #### ##    ## ########  ######## ##     ## 
//  ##  ###   ## ##     ## ##        ##   ##  
//  ##  ####  ## ##     ## ##         ## ##   
//  ##  ## ## ## ##     ## ######      ###    
//  ##  ##  #### ##     ## ##         ## ##   
//  ##  ##   ### ##     ## ##        ##   ##  
// #### ##    ## ########  ######## ##     ## 

/* 头像及翻转效果 */
.index-avatar-container {
    cursor: pointer;
}

/* 调低首页背景的遮蔽效果(加大透明度) */
.shape-image:before {
    background-color: #0000000a;
}

// 站点标题
.index-avatar-container + h1 {
    // 头像和站点标题横向摆放
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 50px;
    
    // 站点标题字体
    text-shadow: 2px 4px 3px #000;
    color: #e2e2e2 !important;
}

/* 站点副标题 */
.lead {
    font-size: 1.3rem;
    font-weight: 400;
    color: #dedede !important;
    text-shadow: 1px 3px 3px #000;
}

// 文章信息（时间日期，分类，标签）
.content-article-preview .content>.list-object {
    margin-left: 0.6rem;
    margin-bottom: 16px;
    /* text-align: center; */
}

/* 首页每篇文章的标题 */
.content > h2 {
    font-weight: bold;
/*     color: #000000 !important; */
}

/* "阅读"按钮-去掉边框线 */
.btn-outline-primary {
    border-color: transparent;
}

/* 翻页按钮 */
.page-nav {
    a {
        color: #272727;
        background-color: #fdfdfd;
        margin-right: 0.3rem;
        font-size: 1.2rem !important;
        width: 42px !important;
        height: 42px !important;
        border-radius: 50%!important;
        transition: all 0.2s;
        cursor: pointer;

        &.active{
            z-index: auto;
            // border-color: transparent;
            color: #000;
            background-color: #ffeb3b;
        }

        &:hover{
            transform: translateY(-4px);
            color: #0a0a0a;
            border-color: #3c3c3c;
            background-color: #cacaca;
        }
    }

}

// ######   ##     ## ##     ## ##     ##    ###    ########  ##    ## 
// ##    ## ##     ## ###   ### ###   ###   ## ##   ##     ##  ##  ##  
// ##       ##     ## #### #### #### ####  ##   ##  ##     ##   ####   
//  ######  ##     ## ## ### ## ## ### ## ##     ## ########     ##    
//       ## ##     ## ##     ## ##     ## ######### ##   ##      ##    
// ##    ## ##     ## ##     ## ##     ## ##     ## ##    ##     ##    
//  ######   #######  ##     ## ##     ## ##     ## ##     ##    ##    

/* 1.0 */

/* 首页文章内容预览背景框 */
.the-article-summary {
    max-height: 400px;
    overflow: hidden;
    padding: 0.5rem;
    padding-bottom: 0px;
    background-color: inherit;
}
.article-summary-container {
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.6s;
    overflow: hidden;
}
/* 预览框背景 */
.article-preview-bg {
    transform: translateY(0px);
}
.article-preview-bg:before {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    background-size: cover;
    content: "";
    opacity: 0.1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-position: 50% 50%;
}
/* 阅读按钮 */
.btn-to-read {
    padding-left: 10px;
    background-color: inherit;
}
.btn-to-read button {
    margin-left: -10px;
}
/* 去除<!--more-->留下的空白 */
.more {
    margin-bottom: 0;
}
/* 去除段后行距 */
.the-article-summary p {
    margin-bottom: 0.2rem;
}

/* article-summary-container 的容器 */
.content-article-preview .section .container .content {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* 文章预览框卡片 调整圆角和边距 */
.content-article-preview {
    border-radius: 0.6rem;
    padding-top: 0px;
    padding-bottom: 0px;

    .section {
        padding-top: 0px;
        padding-bottom: 0px;

        .container {
            padding: 3rem 3rem;
        
            @media (max-width: 992px) {
                padding: 3rem 0rem;
            }
        }
    }

    /* 首页文章预览框中文章标题居中和调整字体 */
    .content > h2 {
        /* text-align: center; */
        font-size: 1.8rem;
        font-weight: normal;
        margin-left: 5px; /* 首页每篇文章标题和标签稍微右移 */
    }
}

/*
########  #######  ##    ## ######## 
##       ##     ## ###   ##    ##    
##       ##     ## ####  ##    ##    
######   ##     ## ## ## ##    ##    
##       ##     ## ##  ####    ##    
##       ##     ## ##   ###    ##    
##        #######  ##    ##    ##    
*/
                     
.col.px-0.text-center, /* 文章页内的文章标题 */
.index-avatar-container+h1, /* 站点主标题 */
.lead /* 站点副标题 */
{
    font-family: "家书体", "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
}

.content-article-preview p, /* 预览字体 */
.content-article-preview li, /* 预览字体 */
.content-article p, /* 正文字体 */
.content-article li, /* 正文字体 */
.comment-body p, /* 评论正文字体 */
.toc  /* 文章目录字体 */
{
    font-family: "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
    font-weight: normal;
}

/* 代码字体 */
pre, code, kbd, samp {
    font-family: "Consolas", "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
}

/* 首页每篇文章的标题 */
.content .text-default {
    font-family: tahoma, "Microsoft YaHei", Helvetica, "Hiragino Sans GB", SimSun !important;
}

.col.px-0.text-center, /* 文章页内的文章标题 */
.content-article p, /* 正文字体 */
.content-article li { /* 正文字体 */
    font-size: 1rem !important;
    font-weight: normal;
    line-height: 1.8;
}

/* 让图片(首页预览)显示得稍微小一点 */
.content-article-preview img {
    max-height: 20vh !important;
}

/*
##     ## ########    ###    ########  ######## ########   ######  
##     ## ##         ## ##   ##     ## ##       ##     ## ##    ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## ##       
######### ######   ##     ## ##     ## ######   ########   ######  
##     ## ##       ######### ##     ## ##       ##   ##         ## 
##     ## ##       ##     ## ##     ## ##       ##    ##  ##    ## 
##     ## ######## ##     ## ########  ######## ##     ##  ######  
*/

/* 1.2 */

h1, h2, h3, h4, h5, h6 {
    color: #50535a;
}

/* 文章页面里的123456 */
.content-article {
    h1, h2, h3, h4, h5, h6 {
        color: #009688;
        font-weight: bold;
        font-family: tahoma, "Microsoft YaHei", Helvetica, "Hiragino Sans GB", SimSun !important;
    }
}

/* 首页文章预览里的h123456 */
.content-article-preview {
    h1, h2, h3, h4, h5, h6 {
        color: #616161;
        font-weight: bold;
    }
}

/* 首页预览框内标题 */
.the-article-summary {
    h1 { font-size: 1.4rem; }
    h2 { font-size: 1.3rem; }
    h3 { font-size: 1.2rem; }
    h4 { font-size: 1.1rem; }
    h5 { font-size: 1.0rem; }
    h6 { font-size: 1.0rem; }
}

/* 正文标题 */
.content-article {
    h1 { font-size: 2.2rem; border-bottom: 2px solid; }
    h2 { font-size: 1.9rem; }
    h3 { font-size: 1.7rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.3rem; }
    h6 { font-size: 1rem; }
}

/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/

/* 首页文章列表日期和页脚容器 */
footer.footer {
    box-shadow: 1px 1px 4px 9px #00000061;
    padding: 0rem 0;

    .container {
        max-width: 900px;
    }

    // 版权文字
    .row {
        max-width: 600px;
        margin: auto;
    }

    .copyright {
        text-align: center;
        color: #e0e0e0 !important;
        border-radius: 0.5rem;
        transition: all 0.5s;
    
        a {
            color: #d8d7be !important;
        }
    }

    .nav .nav-item .nav-link, 
    .footer-link {
        color: #d8d7be !important;
    }

    #SiteRunningTime {
        display: inline;
    }

    // 最新评论
    // 仅适用于Typecho
    // .widget {
    //     ul li {
    //         margin: 0px;
    //         line-height: 1.5;

    //         a {
    //             font-size: 1rem;
    //         }
    //     }
    
    //     h5 {
    //         margin-top: 0;
    //         margin-bottom: 5px;
    //         width: max-content;
    //         margin: auto;
    //     }
    // }
}

// ######## ########  #### ######## ##    ## ########   ######  
// ##       ##     ##  ##  ##       ###   ## ##     ## ##    ## 
// ##       ##     ##  ##  ##       ####  ## ##     ## ##       
// ######   ########   ##  ######   ## ## ## ##     ##  ######  
// ##       ##   ##    ##  ##       ##  #### ##     ##       ## 
// ##       ##    ##   ##  ##       ##   ### ##     ## ##    ## 
// ##       ##     ## #### ######## ##    ## ########   ######  

/* 1.1 */

/* 友链卡片 */
bblink.friend-card {
    width: 33%;
    border-radius: 0.5rem;
    height: 85px;
    margin: 5px 0px;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent !important;
    border: none;

    /* 小宽度下一行显示2个友链卡片 */
    @media (max-width: 1024px) {
        width: 50%;
    }

    /* 小宽度下一行显示1个友链卡片 */
    @media (max-width: 576px) {
        width: 100%;
    }

    &:hover {
        background-color: #8685852e;
        transform: none;

        // 友链Desc展开
        .friend-text {
            white-space: break-spaces;
        }
    }

    .friend-container {
        width: 93%;
        height: 100%;
        margin-top: 5px;

        .friend-avatar {
            transition: all 0.3s;
            position: absolute;
        
            width: 55px;
            height: 55px;
        }

        // 友链描述
        .friend-text {
            height: 90px;
            font-size: 0.9rem;
            margin-left: 70px;
            transition: all 0.4s;
            text-align: left;
            line-height: 1.3;

            // 友链站名
            h5 {
                font-size: 1rem;
                color: #545d75 !important;
                font-family: "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
                margin-bottom: .1rem;
            }
        }
    }
}

// ######  ########    ###     ######  ##     ##         ########     ###    ########  
// ##    ## ##         ## ##   ##    ## ##     ##         ##     ##   ## ##   ##     ## 
// ##       ##        ##   ##  ##       ##     ##         ##     ##  ##   ##  ##     ## 
//  ######  ######   ##     ## ##       ######### ####### ########  ##     ## ########  
//       ## ##       ######### ##       ##     ##         ##     ## ######### ##   ##   
// ##    ## ##       ##     ## ##    ## ##     ##         ##     ## ##     ## ##    ##  
//  ######  ######## ##     ##  ######  ##     ##         ########  ##     ## ##     ## 

// 仅适用Typecho
/* 搜索栏透明 */
// #search .form-control {
//     background-color: #ffffff3d !important;
//     margin-left: 1px;
// }
// #search .input-group-text {
//     background-color: #ffffff3d !important;
// }
// #search:hover .input-group-text {
//     background-color: #ffffff !important;
// }
// #search:hover .form-control {
//     background-color: #ffffff !important;
// }

// /* 移动端时字体变大方便点击 */
// @media (max-width: 992px) {
//     .navbar-nav .nav-link {
//         font-size: 1.2rem;
//     }
// }
// 
// #add-comment-button {
//     margin: 0;
// }

// .add-comment-button-wrap {
//     position: absolute;
//     right: 1rem;
//     bottom: 1rem;
// }

// .comment-area {
//     transform: translateY(0px);
// }

// ######   #######  ##     ## ##     ## ######## ##    ## ######## 
// ##    ## ##     ## ###   ### ###   ### ##       ###   ##    ##    
// ##       ##     ## #### #### #### #### ##       ####  ##    ##    
// ##       ##     ## ## ### ## ## ### ## ######   ## ## ##    ##    
// ##       ##     ## ##     ## ##     ## ##       ##  ####    ##    
// ##    ## ##     ## ##     ## ##     ## ##       ##   ###    ##    
//  ######   #######  ##     ## ##     ## ######## ##    ##    ##    

// 仅适用Typecho

/* 评论人名字和回复按钮 */
// .comment-body a {
//     color: #313131 !important;
// }
// /* 评论人头像 */
// .comment-item .comment-parent .avatar {
//     margin: 0rem 1rem;
//     margin-left: 0px;
//     width: 48px !important;
//     height: 48px !important;
// }
// /* 子评论缩进 */
// .comment-children-indent {
//     padding-left: calc(80px - 16px) !important;
// }
// /* 评论回复按钮 */
// .comment-head .comment-reply-button a {
//     font-size: 1rem;
//     color: #7b7b7b !important;
// }
// /* 评论正文 */
// .comment-body p {
//     font-size: 0.9rem !important;
// }