/* 1.2 */

h1, h2, h3, h4, h5, h6 {
    color: #50535a;
}

/* 文章页面里的123456 */
.content-article h1, 
.content-article h2, 
.content-article h3, 
.content-article h4, 
.content-article h5, 
.content-article h6 {
    color: #ec875a;
    font-weight: bold;
    font-family: tahoma, "Microsoft YaHei", Helvetica, "Hiragino Sans GB", SimSun !important;
}

/* 首页文章预览里的h123456 */
.content-article-preview h1, 
.content-article-preview h2, 
.content-article-preview h3, 
.content-article-preview h4, 
.content-article-preview h5, 
.content-article-preview h6 {
    color: #616161;
    font-weight: bold;
}


/* 首页预览框内标题 */
.the-article-summary h1 {
    font-size: 1.4rem;
}
.the-article-summary h2 {
    font-size: 1.3rem;
}
.the-article-summary h3 {
    font-size: 1.2rem;
}
.the-article-summary h4 {
    font-size: 1.1rem;
}
.the-article-summary h5 {
    font-size: 1.0rem;
}
.the-article-summary h6 {
    font-size: 1.0rem;
}


/* 正文标题 */
.content-article h1 {
    font-size: 2.3rem;
    border-bottom: 2px solid;
}
.content-article h2 {
    font-size: 2rem;
    border-bottom: 2px solid;
}
.content-article h3 {
    font-size: 1.7rem;
    border-bottom: 2px dashed;
}
.content-article h4 {
    font-size: 1.5rem;
}
.content-article h5 {
    font-size: 1.2rem;
}
.content-article h6 {
    font-size: 1rem;
}
