/* 1.2 */

/* @font-face { */
/*     font-family: "思源黑体"; */
/*     src: url('https://cdn.jsdelivr.net/gh/innc11/BlogFonts@latest/SourceHanSansCN-Light_0.woff'); */
/*     src: url('https://cdn.jsdelivr.net/gh/innc11/BlogFonts@latest/SourceHanSansCN-Light_0.woff2'); */
/* } */

/* @font-face { */
    /* font-family: "家书体"; */
    /* src: url('https://cdn.jsdelivr.net/gh/innc11/BlogFonts@latest/JiaShuTi_0.woff2'); */
/*    src: url('https://cdn.jsdelivr.net/gh/innc11/BlogFonts@latest/JiaShuTi_0.woff'); */
/* } */

.col.px-0.text-center, /* 文章页内的文章标题 */
.index-avatar-container+h1, /* 站点主标题 */
.lead /* 站点副标题 */
{
    font-family: "家书体", "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
}

.content-article-preview p, /* 预览字体 */
.content-article-preview li, /* 预览字体 */
.content-article p, /* 正文字体 */
.content-article li, /* 正文字体 */
.comment-body p, /* 评论正文字体 */
.toc  /* 文章目录字体 */
{
    font-family: "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
    font-weight: normal;
}

/* 代码字体 */
pre, code, kbd, samp {
    font-family: "Consolas", "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
}

/* 首页每篇文章的标题 */
.content .text-default {
    font-family: tahoma, "Microsoft YaHei", Helvetica, "Hiragino Sans GB", SimSun !important;
}

.col.px-0.text-center, /* 文章页内的文章标题 */
.content-article p, /* 正文字体 */
.content-article li { /* 正文字体 */
    font-size: 1rem !important;
    font-weight: normal;
    line-height: 1.8;
}

/* 让图片(首页预览)显示得稍微小一点 */
.content-article-preview img {
    max-height: 20vh !important;
}