/* 1.1 */

/* 友链卡片 */
.friend-card {
    width: 33%;
    border-radius: 0.5rem;
    height: 85px;
    margin: 5px 0px;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent !important;
    border: none;
}

.friend-card:hover {
    background-color: #8685852e;
    transform: none;
}
/* 使一个卡片内能显示更多的内容 */
.friend-container {
    width: 93%;
    height: 100%;
    margin-top: 5px;
}
/* 友链描述 */
bblink .friend-text {
    height: 90px;
    font-size: 0.9rem;
    margin-left: 70px;
    transition: all 0.4s;
    text-align: left;
    line-height: 1.3;
}
/* 友链站名 */
bblink .friend-text h5 {
    font-size: 1rem;
    color: #545d75 !important;
    font-family: "Microsoft YaHei", tahoma, Helvetica, "Hiragino Sans GB", SimSun !important;
    margin-bottom: .1rem;
}
/* 友链简介展开 */
.friend-card:hover .friend-text {
    white-space: break-spaces;
}
.friend-avatar {
    transition: all 0.3s;
    position: absolute;

    width: 55px;
    height: 55px;
}


/* @media (max-width: 992px) {
} */
/* 小宽度下一行显示2个友链卡片 */
@media (max-width: 1024px) {
    .friend-card {
        width: 50%;
    }
}
/* 小宽度下一行显示1个友链卡片 */
@media (max-width: 576px) {
    .friend-card {
        width: 100%;
    }
}