/* 1.0 */

/* 首页文章内容预览背景框 */
.the-article-summary {
    max-height: 400px;
    overflow: hidden;
    padding: 0.5rem;
    padding-bottom: 0px;
    background-color: inherit;
}
.article-summary-container {
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.6s;
    overflow: hidden;
}
.article-summary-container:hover {
    transform: translateY(-10px);
}
/* 预览框背景 */
.article-preview-bg {
    transform: translateY(0px);
}
.article-preview-bg:before {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    background-size: cover;
    content: "";
    opacity: 0.1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-position: 50% 50%;
}
/* 阅读按钮 */
.btn-to-read {
    padding-left: 10px;
    background-color: inherit;
}
.btn-to-read button {
    margin-left: -10px;
}
/* 去除<!--more-->留下的空白 */
.more {
    margin-bottom: 0;
}
/* 去除段后行距 */
.the-article-summary p {
    margin-bottom: 0.2rem;
}

/* article-summary-container 的容器 */
.content-article-preview .section .container .content {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* 文章预览框卡片 调整圆角和边距 */
.content-article-preview {
    border-radius: 0.3rem;
    padding-top: 0px;
    padding-bottom: 0px;
}
.content-article-preview .section {
    padding-top: 0px;
    padding-bottom: 0px;
}
.content-article-preview .section .container {
    padding-top: 1rem;
    padding-bottom: 0;
}

/* 首页文章预览框中文章标题居中和调整字体 */
.content-article-preview .content > h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
}