/* 1.5 */

/* 头像及翻转效果 */
.index-avatar-container {
    cursor: pointer;
}

/* 调低首页背景的遮蔽效果(加大透明度) */
.shape-image:before {
    background-color: #0000000a;
}

/* 头像和站点标题横向摆放 */
.index-avatar-container+h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 50px;
}

/* 站点标题 */
.index-avatar-container+h1 {
    text-shadow: 2px 4px 3px #000;
    color: #e2e2e2 !important;
}

/* 站点副标题 */
.lead {
    font-size: 1.3rem;
    font-weight: 400;
    color: #dedede !important;
    text-shadow: 1px 3px 3px #000;
}

/* 首页每篇文章标题和标签稍微右移 */
.content>h2 {
    margin-left: 5px;
}
.content>.list-object {
    margin-left: 0.6rem;
    margin-bottom: 0;
    text-align: center;
}

/* 首页每篇文章的标题 */
.content > h2 {
    font-weight: bold;
/*     color: #000000 !important; */
}

/* "阅读"按钮-去掉边框线 */
.btn-outline-primary {
    border-color: transparent;
}

/* 调整文章标签的圆角效果 */
.badge-pill {
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 20px;
}

/* 翻页按钮 */
.page-nav a {
    font-size: 1.2rem !important;
    width: 42px !important;
    height: 42px !important;
    border-radius: 50%!important;
    transition: all 0.2s;
}
.page-nav .active{
    z-index: auto;
    border-color: transparent;
    background-color: #21e08e;
}
.page-nav a:hover{
    transform: translateY(-4px);
}
