#add-comment-button {
    margin: 0;
}

.add-comment-button-wrap {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.comment-area {
    transform: translateY(0px);
}







/* 评论人名字和回复按钮 */
.comment-body a {
    color: #313131 !important;
}
/* 评论人头像 */
.comment-item .comment-parent .avatar {
    margin: 0rem 1rem;
    margin-left: 0px;
    width: 48px !important;
    height: 48px !important;
}
/* 子评论缩进 */
.comment-children-indent {
    padding-left: calc(80px - 16px) !important;
}
/* 评论回复按钮 */
.comment-head .comment-reply-button a {
    font-size: 1rem;
    color: #7b7b7b !important;
}
/* 评论正文 */
.comment-body p {
    font-size: 0.9rem !important;
}