/* 1.2 */

/* 首页文章列表日期和页脚容器 */
.container-lg, footer .container {
    max-width: 900px;
}

/* footer变窄 */
.footer {
    padding: 0rem 0;
}

/* footer里的最新评论 */
.footer .widget ul li a {
    font-size: 1rem;
}
.footer .widget ul li {
    margin: 0px;
    line-height: 1.5;
}
.footer .widget h5 {
    margin-top: 0;
    margin-bottom: 5px;
    width: max-content;
    margin: auto;
}

/* 页脚的版权文字容器 */
.footer .row {
    max-width: 600px;
    margin: auto;
}

/* copyright文字 */
.copyright {
    text-align: center;
    color: #e0e0e0 !important;
    border-radius: 0.5rem;
    transition: all 0.5s;
}
.copyright a {
    color: #d8d7be !important;
}
.footer .nav .nav-item .nav-link, .footer .footer-link {
    color: #d8d7be !important;
}

#SiteRunningTime {
    display: inline;
}